<div class="ig-form">
  <%= form_for(category, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if category.errors.any? %>
  <div class="alert alert-warning">
    <h4><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h4>
    <ul>
      <% category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-2 control-label">
      <%= f.label :name %>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-2 control-label">
      <%= f.label :parent_id %>
    </div>
    <div class="col-lg-4">
      <%= f.collection_select :parent_id, Category.where(active: true), :id, :name, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-2 control-label">
      <%= f.label :active %>
    </div>
    <div class="col-lg-4">
      <%= f.check_box :active, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-2 control-label">
      <%= f.label :display_order %>
    </div>
    <div class="col-lg-4">
      <%= f.number_field :display_order, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit "Submit", class: "btn btn-medium btn-success" %>
      <%= link_to "Cancel", categories_path, class: "link" %>
    </div>
  </div>
  <% end %>
  
</div>